{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Восстановление пароля</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <div class="login-register-wrapper section-padding">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="login-reg-form-wrap">
{% if passwordResetSuccess == true %}
                            <div class="single-input-item alert alert-success">
                                Пароль успешно установлен
                            </div>

                            <div class="single-input-item">
                                <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                    <a href="{{ path('app_login')}}"><button class="btn btn-sqr" type="submit">Войти</button></a>
                                </div>
                            </div>
{% else %}
                            <h5>Установка нового пароля</h5>

                            {# If there are any errors on the form, display them #}
                            {% set formErrors = resetForm.vars.errors.form.getErrors(true) %}
                            {% if formErrors|length %}
                                <div class="single-input-item text-danger mt-4 mb-0 alert alert-danger">
                                    {% for error in formErrors %}
                                        {{ error.message }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {{ form_start(resetForm) }}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            {{ form_row(resetForm.plainPassword.first) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            {{ form_row(resetForm.plainPassword.second) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <button class="btn btn-sqr" type="submit">Установить пароль</button>
                                </div>
                            {{ form_end(resetForm) }}
                        </div>
{% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
